app_id: "<app_id>"
app_secret: "<app_secret>"
redirect: "https://localhost:8000/auth/redirect
scopes: "user.read Files.Read Files.Read.All Files.Read.Selected Files.ReadWrite Files.ReadWrite.All Files.ReadWrite.AppFolder"
authority: "https://login.microsoftonline.com/consumers"
authorize_endpoint: "/oauth2/v2.0/authorize"
token_endpoint: "/oauth2/v2.0/token"